@use '../../vars' as *;
.pagination{
  position: absolute;
  display: flex;
  left: 47%;
  top: 85%;
  &__page{
    font-size: 25px;
    margin: 10px;
  }

  &__button{
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
  }
}