@use '../../vars' as *;
.bondsPage{
height: 100%;
}
  .bondsList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .bond {
    width: 300px;
    padding: 5px;
    margin: 5px;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-gray;
    text-decoration: none;

    &__text {
      display: flex;
    }

    &__subtext {
      font-family: 'TinkoffSans-Bold', sans-serif;
      font-weight: bold;
    }
  }

