@use '../../vars' as *;
.header{
  display: flex;
  align-items: center;

  &__logo{
    width: 90px;
  }
  &__nav{
    font-family: TinkoffSans-Medium;
    padding-left: 30px;
    &__link{
      padding-right: 20px;
      text-decoration: none;
      color: $color-black;
    }
  }
}